.box {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    color: cadetblue;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}